:root {
  --first-color: #212121;
  --second-color: #757575;
  --third-color: #ffffff;
  --accent-color: #2196f3;
  --footer-mail-tel-color: rgba(255, 255, 255, 0.6);
  --background-color: #2f303a;
}
body {
  font-family: 'Roboto', sans-serif;
  color: var(--first-color);
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

/* HEDER*/

.heder-logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo-accent {
  color: var(--first-color);
}

.heder-item a {
  color: var(--first-color);
}
.heder-item a:hover,
.heder-item a:focus {
  color: var(--accent-color);
}
.adress-list a {
  color: var(--second-color);
}
.adress-list a:hover,
.adress-list a:focus {
  color: var(--accent-color);
}

.heder-item,
.adress-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/* MAIN*/

.service {
  /*position: absolute;
  width: 1600px;
  height: 600px;*/
  left: 0px;
  /*top: 80px;*/
  background: var(--background-color);
}
.service-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.85;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--third-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.service-text {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--third-color);
}

.service-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--third-color);
  cursor: pointer;
}

/* BENEFITS */

.benefits-titel {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.benefits-after-titel {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-color);
}

/* about */

.about-text,
.command-text {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.command-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.command-trade {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--second-color);
}

/* FOOTER */

.footer {
  height: 252px;
  background: var(--background-color);
}

.footer-logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.93;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.footer-logo-accent {
  color: var(--third-color);
}

.footer-place {
  color: var(--third-color);
}

.footer-place,
.footer-mail,
.footer-tel {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-place {
  color: var(--third-color);
}
.footer-mail,
.footer-tel {
  color: var(--footer-mail-tel-color);
}

.footer-list :hover,
.footer-list :focus {
  color: var(--accent-color);
}

/* portfolio*/

.navigation-button {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-color);
  cursor: pointer;
}

.navigation-item :hover,
.navigation-item :focus {
  color: var(--third-color);
  background: var(--accent-color);
}

.photo-tetl {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.photo-afer-tetl {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--second-color);
}
